.desktopheader{
    height: 13vh;
    color:#fff;
    background:rgba(143, 112, 112, 0.3);
    transition:all 1.5s ease;
    position:sticky;
    top:0;
    left:0;
    z-index: 20;
}
/**/
.desktop__black{
    background-color:#E8580C !important;
    position:fixed;
    top:0;
    left: 0;
    z-index: 10;
    height: 13vh;
    color:#fff;
    width: 100%;


}
/**/
.desktopheader__details{
    display: flex;
    align-items: center;
    justify-content:space-between;

}
.desktopheader__detailsLeft{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex:0.3;
    margin-left: 80px;

}
.detailsLeftImage>img{
    height:120px;
    width: 120px;
    object-fit: contain;
    margin-top: -20px;
    cursor: pointer;
}
.desktopheader__detailsMiddle{
    flex:0.6;
    margin-left: 50px;
}
.desktopheader__detailsMiddle>a{
    margin-left: 25px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.desktopheader__detailsRight>a{
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.desktopheader__detailsRight{
    flex:0.1;
    justify-content: flex-start;
}
.detialsLeft__iconMenu{
    font-size: 20 !important;
    cursor: pointer;
    margin-right: 5px !important;
}