.homeCourse__area{
    background-color: #fff;
    height: fit-content;
    width: 100%;
}
.homeCourse__course{
    display: grid;
    place-items: center;
    align-items: center;
    margin-top: 100px ;
}
.homeCourse__course>h1{
    border-bottom: 2px solid gray;
    font-weight: bold;
}
.homecourse__words{
    width: 50%;
    margin: 50px;
    color: gray;
    font-size: 20px;
}
.homecourse__card{
    width: 60%;
    margin: 20px;
}
/*card course*/
 .homecourse__second, .homecourse__third, .homecourse__four, .homecourse__fifth, .homecourse__sixth{
    border:1px solid gray;
    color: #fff;
    width:fit-content;
    height: fit-content;
    align-items: center;
    padding: 10px;
       
}

/*media query*/
@media only screen and (max-width: 768px) {
    .homecourse__first{
        background-color: #E8580C;
        border: none;
        color: #fff;
        width: 80%;
        height: fit-content;
        align-items: center;
        padding: 10px; 
    }
    .homecourse__second, .homecourse__third, .homecourse__four, .homecourse__fifth, .homecourse__sixth{
        border:1px solid gray;
        color: #fff;
        width:100%;
        height: fit-content;
        align-items: center;
        padding: 10px;
           
    }
    .homecoursecard__images{
        width:95%;
        margin: 10px;
    }
    .images__wordSection{
        margin: 10px;
    }
    .course__categories{
        margin:0 10px;
        text-align: center;
        font-size: 25px;
    }
 
  }
/*media query*/
.homecourse__second{

}
.homecourse__third{
    margin-left: 30px;
}
.homecourse__first{
    background-color: #E8580C;
    border: none;
    color: #fff;
    width: 50%;
    height: fit-content;
    align-items: center;
    padding: 10px; 
}
.homecourse__first>a>h6{
    color: #fff;
}
.homecourse__second:hover, .homecourse__third:hover, .homecourse__four:hover, .homecourse__fifth:hover, .homecourse__sixth:hover{
    background-color: #E8580C;
    border: none;
    color: #fff;
    width: fit-content;
    height: fit-content;
    align-items: center;
    padding: 10px; 

}
.homecourse__second>a>h6:hover, .homecourse__third>a>h6:hover, .homecourse__four>a>h6:hover, .homecourse__fifth>a>h6:hover, .homecourse__sixth>a>h6:hover{
 color: #fff;
}
/*card course*/

/*course images*/
.homecoursecard__images{
    width: 90%;
    margin: 20px;
}
/*course images*/

/*images*/


/*images*/

/*couse categories*/
.homecourse__categories{
    width: 80%;
}
.categories__first, .categories__button{
    padding: 50px;
}
.categoriesfirstImage{
    height: fit-content;
    width: fit-content;
    border-radius: 50%;

}
.categoriesfirstImage>img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.categories__details{
    margin: 10px 5px 10px 25px;
}
@media only screen and(max-width:760px) {
    .categoriesfirstImage>img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    
}
.categories__details>h5{

}
.categories__detailsP>p{
    margin: 10px;
}

/*course categories*/

/*search area*/
.homecourse__searchArea{
    width: 83%;
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 20px;

}
.homecourse__searchArea>input{
    width: 80%;
    height: 45px;
    border:  1px solid gray;
    outline: 0;
}
.homecourse__search{
    font-size: 40px !important;
    background-color: #E8580C !important;
    color:#fff !important;
    height: 40px;
    padding: 5px;
}
/*search area*/

/*words*/
.images__wordSection{
    display: grid;
    place-items: center;
}
.images__wordSection>h4{
    margin-top: 100px;
}
/*words*/